<section style="margin-top: px;">
    <div class="col-4 m-auto" style="margin-left: 600px;">
        <script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/itmsnfur.json"
    trigger="loop"
    colors="outline:#121331,primary:#e83a30,secondary:#000000,tertiary:#f9c9c0"
    style="width:130px;height:130px">
</lord-icon>
    </div>
    <div class="col-5 m-auto" style="margin-left: 585px;">
        <h2>ALL USERS</h2>
    </div>
    <div class="container fadeInDown third">
        <table class="table table-dark">
            <thead class="tableHead">
                <tr>
               
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center">Email</th>
                  
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {{#each users}}
                    <tr>
                        <td>{{this.Name}}</td>
                    
                        <td>{{this.Email}}</td>
                        

                       

                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</section>