<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Order Placed Successfully</h1>
                <a href="/orders" class="btn btn-primary">View Orders</a>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="cable-config" style="margin-left: 580px;">
            
           
            <span><script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
                  <lord-icon
                            src="https://cdn.lordicon.com/uetqnvvg.json"
                            trigger="loop"
                            colors="primary:#121331,secondary:#08a88a"
                            style="width:200px;height:200px;margin-left: 50px;">
                  </lord-icon>
            </span>
           
            
            <br>
          
            
          </div>
</section>